volumes:
  mariadb-11.4:
    external: false
    name: mariadb-11.4

services:
  nginx:
    image: nginx:latest
    restart: always
    volumes:
      - /etc/nginx:/etc/nginx
      - /data/wwwlogs:/data/wwwlogs
      - /data/wwwroot:/data/wwwroot
    depends_on:
      - php-8.4-fpm
    environment:
      - TZ=Asia/Shanghai
    network_mode: host
    container_name: nginx
  php-8.4-fpm:
    image: closehandle/php-fpm:8.4
    restart: always
    volumes:
      - /data/wwwroot:/data/wwwroot
    depends_on:
      - mariadb-11.4
    environment:
      - TZ=Asia/Shanghai
      - FPM_BIND=127.0.0.1
      - FPM_PORT=9000
    network_mode: host
    container_name: php-8.4-fpm
  mariadb-11.4:
    image: mariadb:11.4
    restart: always
    volumes:
      - mariadb-11.4:/var/lib/mysql
    environment:
      - TZ=Asia/Shanghai
      - MARIADB_ROOT_PASSWORD=oneinstack
    network_mode: host
    container_name: mariadb-11.4
